@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-black leading-loose text-white;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] font-semibold leading-[1.1];
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] font-semibold leading-[1.1];
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] font-semibold leading-[1.1];
  }
  .text-outline {
    -webkit-text-stroke: 1.5px #ffffff;
    color: rgba(0, 0, 0, 0.1);
  }
  .text-outline-hover {
    -webkit-text-stroke: 1.5px #ffffff;
    color: rgba(255, 255, 255, 0.2);
  }
}
